<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chant.chanttest">

    <application
        android:name=".ChantTestApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".svg.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".svg.IconSVGActivity"/>
        <activity android:name=".svg.IconVectorActivity"/>
        <activity android:name=".svg.IconPNGActivity"/>

        <activity android:name=".transition.ActivityA"/>
        <activity android:name=".transition.ActivityB"/>
        <activity android:name=".transition.MyFragmentActivity">
        </activity>

        <activity android:name=".wavedrawable.DrawableActivity">
        </activity>

        <activity android:name=".coordinator.CoordinatorActivity">
        </activity>

        <activity android:name=".multishrinkscroller.MultiShrinkScrollerActivity">
        </activity>

        <activity android:name=".nestedscroll.touchevent.TouchEventActivity">
        </activity>
    </application>

</manifest>